
<form class="beer-display" id="add-other-beer-profile"  enctype="multipart/form-data">
  <fieldset class="form-group">
    Beer name: <input class="form-control" type="text" name=beers[beer_name] placeholder="Beer name" value="{{beer_name}}" />
    Brewer: <input class="form-control" type="text" name=beers[company_name] placeholder="Brewer" value="{{company_name}}" />
    Style: <input class="form-control" type="text" name=beers[beer_style] placeholder="Style" value="{{beer_style}}" />
    ABV: <input class="form-control" type="numeric" name=beers[abv] placeholder="ABV(%)" value="{{abv}}" />
    Notes: <textarea class="form-control" type="textarea" name=beers[notes] placeholder="Notes" value="{{notes}}" /></textarea>
    Appearance: <textarea class="form-control" type="textarea" name=beers[appearance] placeholder="Appearance" value="{{appearance}}" /></textarea>
    Aroma: <textarea class="form-control" type="textarea" name=beers[aroma] placeholder="Aroma" value="{{aroma}}" /></textarea>
    Palate: <textarea class="form-control" type="textarea" name=beers[palate] placeholder="Palate" value="{{palate}}" /></textarea>
    Flavor: <textarea class="form-control" type="textarea" name=beers[flavor] placeholder="Flavor" value="{{flavor}}" /></textarea>
    Photo: <input class="form-control" type="file" name=beers[photo] placeholder="Profile Picture" value="{{photo}}" />
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="create-edit-beer btn btn-default">Save</button>
    </div>
  </fieldset>
</form>
