<select>
  <option value="">...</option>
  <option value="beer_name">Beer name</option>
  <option value="company_name">Brewer</option>
  <option value="beer_style">Style</option>
  <option value="abv">ABV</option>
</select>
<button type="submit" class="sort-display btn btn-sm">Sort me</button>


<h2>{ Mine }</h2>
<ul class='draggable'>

  {{#each beers}}
  <li>
  <div class="contents col-md-3 well col-md-push-1">
   <h4>{{beer_name}}</h4>
     <img src="{{photo}}" height="190px" class="beerImage myBeers" data-id="{{id}}">
     <div class="beerEditDeleteButtons">
       <button type="submit" class="delete-beer-button btn btn-default" id="{{@index}}" data-id="{{id}}">Destroy</button>
       <button type="submit" class="edit-beer-button btn btn-default" id="{{@index}}" data-id="{{id}}" data-toggle="modal" data-target="#modal-fullscreen-update-beer">Fix me, bro</button>
     </div>
  </div>
  </li>
  {{/each}}
</ul>
