<h3><b>{{beer_name}}</b></h3>
<p><b>Brewer:</b> {{company_name}}</p>
<p><b>Style:</b> {{beer_style}}</p>
<p><b>ABV:</b> {{abv}}%</p>
<p><b>Notes:</b> {{notes}}</p>
<p><b>Appearance:</b> {{appearance}}</p>
<p><b>Aroma:</b> {{aroma}}</p>
<p><b>Palate:</b> {{palate}}</p>
<p><b>Flavor:</b> {{flavor}}</p>
