<h4><b>{{beer_name}}</b></h4>
<b>Brewer:</b> {{company_name}}<br>
<b>Style:</b> {{beer_style}}<br>
<b>ABV:</b> {{abv}}<br>
<b>Notes:</b> {{notes}}<br>
<b>Appearance:</b> {{appearance}}<br>
<b>Aroma:</b> {{aroma}}<br>
<b>Palate:</b> {{palate}}<br>
<b>Flavor:</b> {{flavor}}<br>
