<div class="sort-display-section">
  <select>
    <option value="">...</option>
    <option value="beer_name">Beer name</option>
    <option value="company_name">Brewer</option>
    <option value="beer_style">Style</option>
    <option value="abv">ABV</option>
  </select>
  <button type="submit" class="sort-display btn btn-sm">Sort me</button>
</div>

<h2>{ Theirs }</h2>

<ul class='draggable'>

  {{#each beers}}
  <li>
    <div class="contents col-md-3 well col-md-push-1">
      <h4>{{beer_name}}</h4>
      <img src="{{photo}}" height="190px" class="beerImage">
      <form class="beer-display" id="add-someones-beer" enctype="multipart/form-data">
        <fieldset class="form-group-1">
          <input class="form-control hidden" type="text" name=beers[beer_name] value="{{beer_name}}"/>
          <input class="form-control hidden" type="text" name=beers[company_name] value="{{company_name}}"/>
          <input class="form-control hidden" type="text" name=beers[beer_style] value="{{beer_style}}"/>
          <input class="form-control hidden" type="text" name=beers[abv] value="{{abv}}"/>
          <input class="form-control hidden" type="file" name=beers[photo] value="{{photo}}"/>
          <div class="add-other-beer-container">
            <button type="submit" class="add-other-beer btn btn-default">Beer me.</button>
          </div>
        </fieldset>
      </form>
    <!-- <form class="beer-display hidden" id="add-someones-beer" enctype="multipart/form-data">
      <fieldset class="form-group">
      <input class="form-control" type="text" name=beers[beer_name] value="{{beer_name}}" readonly/>
      <input class="form-control" type="file" name=beers[photo] value="{{photo}}" readonly/>
      <img src="{{photo}}"/> -->
      <!-- <button type="submit" class="add-other-beer btn btn-default">Add this beer!</button>
    </fieldset> -->
    </div>
  </li>
  {{/each}}
</ul>
