<h4>Beer name: {{beer_name}}</h4>
Brewer: {{company_name}}<br>
Style:{{beer_style}}<br>
ABV: {{abv}}<br>
Notes: {{notes}}<br>
Appearance: {{appearance}}<br>
Aroma: {{aroma}}<br>
Palate: {{palate}}<br>
Flavor: {{flavor}}<br>
