{{#each beers}}
<li>
<div class="contents col-md-3 well col-md-push-1">
 <h4>{{beer_name}}</h4>
   <img src="{{photo}}" height="190px" class="beerImage">
   <div class="beerEditDeleteButtons">
     <button type="submit" class="delete-beer-button btn btn-default" id="{{@index}}" data-id="{{id}}">Delete</button>
     <button type="submit" class="edit-beer-button btn btn-default" id="{{@index}}" data-id="{{id}}" data-toggle="modal" data-target="#modal-fullscreen-update-beer">Update</button>
   </div>
</div>
</li>
{{/each}}
