<div id="edit-profile-section">
  <form class="profile-display" id="edit-my-profile-form">
    <fieldset class="form-group">
      <h3>
        {{username}}
      </h3>
        First Name: <input class="form-control" type="text" name=profiles[first_name] placeholder="First Name" value="{{first_name}}" />
        Last Name: <input class="form-control" type="text" name=profiles[last_name] placeholder="Last Name" value="{{last_name}}" />
        Biography: <input class="form-control" type="text" name=profiles[biography] placeholder="Biography" value="{{biography}}" />
        Beer preferences: <input class="form-control" type="text" name=profiles[preferences] placeholder="Beer preferences" value="{{preference}}" />
        Beer favorites: <input class="form-control" type="text" name=profiles[favorites] placeholder="Beer favorites" value="{{favorites}}" />
        Photo: <input class="form-control" type="file" name=profiles[photo] placeholder="Profile Picture" value="{{photo}}" />
        Profile private: <input  class="form-control" type="checkbox" name="profiles[make_private]" value="{make_private}" />
      <button type="submit"  id="save-profile-button"  class="edit-profile btn btn-default">Update Profile</button>
    </fieldset>
  </form>
</div>
