  <div class="profile-display">
    <h3>
      {{username}}
    </h3>
      <h4>{{first_name}} {{last_name}}</h4>
      <p>Biography: {{biography}}</p>
      Beer preferences: {{preferences}}
      Beer favorites: {{favorites}}
      <!-- Photo: {{photo}} -->
      <input type=hidden value="{{id}}" id="userProfileId"/>
      <input id="edit-profile-button" type="submit" class="edit-profile btn btn-default" value="Update Profile">

  </div>
