  <div class="profile-display">
      <h3>{{first_name}} {{last_name}}</h3>
      <p>Username: {{username}}</p>
      <p>Biography: {{biography}}</p>
      <p>Beer preferences: {{preference}}</p>
      <p>Beer favorites: {{favorites}}</p>
      <input type=hidden value="{{id}}" id="userProfileId"/>
      <br>
      <input id="edit-profile-button" type="submit" class="edit-profile btn btn-default" value="Update Profile">
  </div>
