<div class="table-responsive">
  <table class="table table-condensed table-bordered profile-table">
    <tr>
      <td><h3>
        {{username}}
      </h3>
      </td>
    </tr>
    <tr class="justify-items">
      <td style="padding: 0 50px;">
        <h4>{{first_name}} {{last_name}}</h4>
      </td>
    </tr>
    <tr class="justify-items">
      <td style="padding-left: 50px; padding-right: 50px;">
        <p>Biography: {{biography}}</p>
      </td>
    </tr>
    <tr class="justify-items">
      <td style="padding-left: 50px; padding-right: 50px;">
        Beer preferences: {{preferences}}
      </td>
    </tr>
    <tr class="justify-items">
      <td style="padding-left: 50px; padding-right: 50px;">
        Beer favorites: {{favorites}}
      </td>
    </tr>
    <tr class="justify-items">
      <td style="padding-left: 50px; padding-right: 50px;">
        Photo: {{photo}}
      </td>
    </tr>
  </table>
</div>
